/node_modules
/.next/
/out/
/build
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env / secrets
.env
.env.*
!.env.example

# vercel / local tooling
.vercel
.DS_Store
.idea
.vscode

# generated
*.tsbuildinfo
next-env.d.ts
